.text-blog{
    background-color: white;
    padding: 50px 60px;
    display: flex;
    border-radius: 10px;
    
}

.blog-1-title{
    margin-bottom: 40px;
    text-align: center;
}


.text-blog>*{
    margin: 0 10px;
    flex: 1;
}

.blog-1{
    margin-top: auto;
    background-color: wheat;
    font-size: 2ch;
    
}